<!DOCTYPE html>
<html>
    <head>
        <title>Add a new user</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{css/main.css}" href="../static/css/main.css">
    </head>
    <body>
        <div class="block">
            <form action="#" th:action="@{./adduser}" th:object="${user}" method="post">
                <label for="name">Name</label>
                <input type="text" th:field="*{name}" id="name" placeholder="Name">
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                <label for="email">Email</label>
                <input type="text" th:field="*{email}" id="name" placeholder="Email">
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>    
                <input class="Button" type="submit" value="Add User">    
            </form>
        </div>
    </body>
</html>
